/* ===== common css style start ====== */
*{
    font-family: "Lato", sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
/* ===== common css style end ====== */

/* ===== navbar css style end ====== */
#navbar{
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
.navbar-nav{
    gap: 45px;
}
.navbar-nav .nav-item .nav-link{
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #06C279;
}
.btn{
    margin-left: 142px;
    background-color: #06C279;
    padding: 15px 25px;
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    border: 2px solid #06C279;
    background-color: transparent;
    color: #1B1B1B;
}
/* ===== navbar css style end ====== */

/* ===== banner css style start ====== */
#banner{
    background-color: #EEFFF9;
}
.bannerText{
    margin-top: 190px;
}
.bannerText h1{
    font-size: 60px;
    font-weight: 300;
    color: #1B1B1B;
    line-height: 71.5px;
    width: 526px;
    margin-bottom: 37px;
}
.bannerText h1 span{
    font-weight: 700;
}
.bannerText p{
    color: #717171;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 51px;
    width: 511px;
}
.bannerText .bannerBtnFlex{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bannerText .bannerBtnFlex a{
    background-color: #06C279;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 0.5s;
}
.bannerBtnFlex a{
    display: flex;
    align-items: center;
    gap: 12px;
}
.circleBtn{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    transition: 0.5s;

}
.circleBtn i{
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}
.bannerText .bannerBtnFlex a:hover{
    color: #1B1B1B;
    border: 2px solid #06C279;
    background-color: transparent;
}
.bannerText .bannerBtnFlex a:hover .circleBtn{
    background-color: #DAF6EB;
}.bannerText .bannerBtnFlex a:hover .circleBtn i{
    color: #06C279;
}
.bannerImg{
    margin-top: 100px;
}
/* ===== banner css style end ====== */

/* ===== experience css style start ====== */
#experience{
    padding: 100px 0;
}
.experienceText h3{
    font-size: 45px;
    font-weight: 600;
    line-height: 54px;
    color: #1B1B1B;
    width: 445px;
    margin-bottom: 30px;
}.experienceText p{
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    color: #7B7B7B;
    width: 550px;
    margin-bottom: 45px;
}
.experienceBtn a{
    background-color: #DAF6EB;
    padding: 15px 25px;
    border-radius: 5px;
    color: #06C279;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: .5s;
}
.experienceBtn a:hover{
    background-color: #06C279;
    color: #fff;
}
/* ===== experience css style end ====== */

/* ===== service css style start ====== */
#service{
    background-color: #EEFFF9;
    border-radius: 350px 0;
    padding: 70px 0;
}
.serviceBoxFlex{
    margin-top: 133px;
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.serviceBoxFlex1{
    display: flex;
    flex-direction: column;
    row-gap: 40px;
}
.serviceBox{
    padding: 42px 0 60px 47px;
    background-color: #fff;
    transition: .5s;
    border-radius: 10px;
    box-shadow: 0 0 20px 2px rgba(0, 0, 0, 0.05);
}
.serviceBox .serviceIcon svg path{
    fill: #06C279;
    transition: .5s;
}
.serviceBox h6{
    margin-top: 14px;
    color: #1B1B1B;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    margin-bottom: 14px;
    transition: .5s;
}
.serviceBox p{
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    transition: .5s;
}
.serviceBox:hover{
    background-color: #06C279;
}
.serviceBox:hover h6 , .serviceBox:hover p{
    color: #fff;
}
.serviceBox:hover .serviceIcon svg path{
    fill: #fff;
}
.serviceText{
    margin-left: 100px;
}
.serviceText h3{
    color: #1B1B1B;
    font-size: 45px;
    font-weight: 600;
    line-height: 54px;
    width: 437px;
}
.serviceText p{
    color: #7B7B7B;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    width: 543px;
    margin: 30px 0;
}
.serviceText .serviceBtn{
    padding: ;
    background-color: #DAF6EB;
}
.serviceText .serviceBtn{
    background-color: #DAF6EB;
    padding: 15px 25px;
    border-radius: 5px;
    color: #06C279;
    font-size: 16px;
    font-weight: 600;
    border: 2px solid transparent;
    transition: .5s;
}
.serviceText .serviceBtn:hover{
    background-color: #06C279;
    color: #fff;
}
/* ===== service css style end ====== */