/* ===== common css style start ====== */
*{
    font-family: "Lato", sans-serif;
}
a{
    text-decoration: none;
}
ul,ol{
    list-style-type: none;
}
/* ===== common css style end ====== */

/* ===== navbar css style end ====== */
#navbar{
    position: absolute;
    width: 100%;
    margin: 0 auto;
}
.navbar-nav{
    gap: 45px;
}
.navbar-nav .nav-item .nav-link{
    color: #1B1B1B;
    font-size: 16px;
    font-weight: 500;
    transition: 0.5s;
}
.navbar-nav .nav-item .nav-link:hover{
    color: #06C279;
}
.btn{
    margin-left: 142px;
    background-color: #06C279;
    padding: 15px 25px;
    border: 2px solid transparent;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    transition: 0.5s;
}
.btn:hover{
    border: 2px solid #06C279;
    background-color: transparent;
    color: #1B1B1B;
}
/* ===== navbar css style end ====== */

/* ===== banner css style start ====== */
#banner{
    background-color: #EEFFF9;
}
.bannerText{
    margin-top: 190px;
}
.bannerText h1{
    font-size: 60px;
    font-weight: 300;
    color: #1B1B1B;
    line-height: 71.5px;
    width: 526px;
    margin-bottom: 37px;
}
.bannerText h1 span{
    font-weight: 700;
}
.bannerText p{
    color: #717171;
    font-size: 20px;
    font-weight: 400;
    margin-bottom: 51px;
    width: 511px;
}
.bannerText .bannerBtnFlex{
    display: flex;
    align-items: center;
    gap: 20px;
}
.bannerText .bannerBtnFlex a{
    background-color: #06C279;
    padding: 15px 25px;
    font-size: 16px;
    font-weight: 600;
    color: #fff;
    border: 2px solid transparent;
    border-radius: 5px;
    transition: 0.5s;
}
.bannerBtnFlex a{
    display: flex;
    align-items: center;
    gap: 12px;
}
.circleBtn{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-color: transparent;
    position: relative;
    transition: 0.5s;

}
.circleBtn i{
    font-size: 12px;
    position: absolute;
    top: 50%;
    left: 55%;
    transform: translate(-50%,-50%);
    transition: 0.5s;
}
.bannerText .bannerBtnFlex a:hover{
    color: #1B1B1B;
    border: 2px solid #06C279;
    background-color: transparent;
}
.bannerText .bannerBtnFlex a:hover .circleBtn{
    background-color: #DAF6EB;
}.bannerText .bannerBtnFlex a:hover .circleBtn i{
    color: #06C279;
}
.bannerImg{
    margin-top: 100px;
}
/* ===== banner css style end ====== */

/* ===== experience css style start ====== */
#experience{
    padding: 100px 0;
}
/* ===== experience css style end ====== */